<!-- Responsive panel example-->
<hr>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">

        <a href="/restaurants/<%= @experience.restaurant_id %>"style="text-decoration:none;"><h3 class="panel-title"><%= @experience.restaurant.venue_name %></h3></a>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <hr>

              <dt>Date:</dt>
              <dd><%= @experience.date.strftime("%m-%d-%Y") %></dd>

              <hr>

              <dt>Best:</dt>
              <dd><%= @experience.best %></dd>

              <hr>

              <dt>Worst:</dt>
              <dd><%= @experience.worst %></dd>

              <hr>

              <dt>Rating:</dt>
              <dd><%= @experience.rating %></dd>

              <hr>

              <dt>Comments:</dt>
              <dd><%= @experience.comments %></dd>

              <hr>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/experiences" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/experiences/<%= @experience.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_experience/<%= @experience.id %>/<%= @experience.restaurant_id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
