<!-- Responsive panel example-->
<hr>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">

        <a href="/restaurants/<%= @experience.restaurant_id %>"style="text-decoration:none;"><h3 class="panel-title text-center"><%= @experience.restaurant.venue_name %></h3></a>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <hr>

              <dt>Date:</dt>
              <dd><%= @experience.date.strftime("%m-%d-%Y") %></dd>

              <hr>

              <dt>Best:</dt>
              <dd><%= @experience.best %></dd>

              <hr>

              <dt>Worst:</dt>
              <dd><%= @experience.worst %></dd>

              <hr>

              <dt>Rating:</dt>
              <dd><%= @experience.rating %></dd>

              <hr>

              <dt>Comments:</dt>
              <dd><%= @experience.comments %></dd>

              <hr>

              <img src="<%= @experience.image %>" class="img-responsive">

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/experiences" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/experiences/<%= @experience.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"> Edit</i>
              </a>

               <a class="btn btn-danger" style="text-decoration:none;" href="/delete_experience/<%= @experience.id %>/<%= @experience.restaurant_id %>">
  <i class="fa fa-trash icon-large"></i> Delete</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
