<!-- Responsive panel example-->
<hr>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><%= @restaurant.venue_name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Type</dt>
              <dd><%= @restaurant.food_type %></dd>
              <hr>
              <dt>Address</dt>
              <dd><%= @restaurant.address %> </dd>
              <dd><%= @restaurant.city %> <%= @restaurant.state %></dd>

            </dl>

            <%if @restaurant.address == "Unavailable" || @lat == [] %>
              <h5 class="text-center">Unfortunately, a map isn't available for the provided address</h5>
            <% else %>
              <div id="map-canvas"></div>
            <% end %>


        </div>
      </div>
    </div>
  </div>

</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Some Favorites</h3>
    </div>
    <div class="panel-body">

      <% @restaurant.experiences.last(3).each do |item| %>
      <dd> <%= item.best %> </dd>
      <% end %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Average Rating (<%= @restaurant.experiences.count %> ratings)</h3>
    </div>
    <div class="panel-body">
      <% ratings = @restaurant.experiences.pluck(:rating) %>
      <h2 class="text-center"><%= (ratings.sum.to_f)/(ratings.count) %></h2>
    </div>
  </div>
      <div class="btn-group btn-group-justified">
              <a href="/restaurants" class="btn btn-primary" style="text-decoration:none;">
                <i class="fa fa-chevron-left">Back to Restaurants</i>
              </a>

              <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning" style="text-decoration:none;">Edit Restaurant
                <i class="fa fa-edit"></i>
              </a>

          </div>

</div>

</div>

<div class="row">
<div class="col-md-offset-2 col-md-6">


</div>

</div>




<!-- End responsive panel example -->
